@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color: #00a9e2;
	--main-header-background: #21252e;
	--main-font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main {
	padding: 0;
	width: 100%;
	height: 100%;
}

/*──────────────────
header
──────────────────*/

header {
	margin: 0 auto;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: rgba(33, 37, 46, 0.5);
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

header:hover {
	opacity: 1;
	background: var(--main-header-background);
}

.nav-bar {
	list-style: none;
	position: relative;
	display: inline-flex;
}

a.nav-link {
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.nav-bar .active {
	color: #202020;
	background: var(--main-decor-color);
	text-decoration: bold;
}

.nav-link:hover {
	color: #000000;
	background: var(--main-decor-color);
}

/*──────────────────
home
──────────────────*/

/* ---- particles.js container ---- */

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	background-image: url("img/laptop.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.body-particles {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	z-index: 100;
}



/* #home .filter {
	background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .20;
	overflow-x: hidden;
}  */

.intro {
	text-align: center;
	color: var(--main-fonts-color);
	margin: auto;
	margin-top: 0px;
	width: auto;
}

.just {
	align-items: center;
	width: auto;
	max-width: 800px;
	margin: auto;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
	text-align: justify;
}

.intro p {
	align-items: center;
	max-width: 500px;
	margin: auto;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
	text-align: center;
}

.intro .subheading p {
	font-weight: bold;
	padding-bottom: 5px;
}



h3 {
	letter-spacing: normal;
	font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	text-align: center;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

h2 {
	letter-spacing: normal;
	font-family: var(--main-font-family);
	font-style: normal;
	font-size: 25px;
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

h1 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-family: var(--main-font-family);
	font-style: normal;
	font-size: 16px;
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

.date {
	font-size: 15px;
	font-weight: normal;
}

.bullet-list {
	margin-left: 30px;
}


/*──────────────────
social media
──────────────────*/

.social-media {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.social-media a {
	margin: 10px;
	font-size: 2rem;
	text-align: center;
	display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i {
	cursor: pointer;
}

.social-media a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
other
──────────────────*/

.avatar {
	vertical-align: middle;
	height: 250px;
	border-radius: 50%;
	margin-bottom: 30px;
	z-index: -100;
}

.work {
	display: flex;
	flex: 1;
	position: relative;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*──────────────────
Card
──────────────────*/

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	width: 100%;
	height: auto;
	border-radius: 12px;
	background: var(--main-decor-color);
}

.card .content-pill {
	text-align: justify;
	padding: 20px 20px;
	font-size: 1rem;
	color: #202020;
	font-family: var(--main-font-family);
	cursor: pointer;
}

.card a {
	text-decoration: none;
}

.card .content-pill:hover {
	color: var(--main-fonts-color);
}

.card:hover {
	box-shadow: 0 0 1.5rem gray;
}

/*──────────────────
Listing
──────────────────*/

.width {
	display: flex;
	justify-content: center;
	width: 70%;
	max-width: 500px;
}

.listing {
	position: relative;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 5px;
	width: 100%;
	min-height: 100% !important;
	padding: 15px;
	border-radius: 12px;
	background: var(--main-decor-color);
	display: block;
}

.work-img {
	width: 100px;
	position: absolute;
	top: 80px;
	left: 100%;
	transform: translate(-120%, -50%);
}

.publication-subtitle {
	text-decoration: underline;
	font-size: 15px;
	padding-top: 15px;
}

.edu-img {
	width: 100px;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-120%, -50%);
}

.listing .content-pill {
	vertical-align: top;
	text-align: left;
	padding: 10px 10px;
	padding-right: 130px;
	font-size: 1rem;
	color: #202020;
	font-family: var(--main-font-family);
	cursor: pointer;
}

.listing .cent {
	text-align: center;
	font-size: 1.5rem;
	color: #202020;
	font-family: var(--main-font-family);
	cursor: pointer;
}

.listing a {
	text-decoration: none;
}

.listing .content-pill:hover {
	color: white;
}

.listing .cent:hover {
	color: white;
}

.listing:hover {
	box-shadow: 0 0 1.5rem gray;
}

.body-particles {
	pointer-events: none;
}

.mouseEvents {
	pointer-events: all;
}

/*──────────────────
Education
──────────────────*/
/* #home, #contact, #education, #workexp, #cv{ */

.setWidth {
	width: 70%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.setPosition {
	position: relative;
	align-items: center;
	justify-content: center;
}

/*──────────────────
workexp
──────────────────*/
/* #home, #contact, #education, #workexp, #cv{ */


/*──────────────────
Contact
──────────────────*/

#contact {
	margin: auto;
	min-height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
	overflow-x: hidden;
}

#home {
	margin: auto;
	min-height: 100vh;
	width: auto;
	color: var(--main-fonts-color);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow-x: hidden;
}

#education, #workexp {
	margin: auto;
	width: auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
	overflow-x: hidden;
}

#cv {
	margin: auto;
	min-height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
	overflow-x: hidden;
}

#publications {
	margin: auto;
	min-height: 100vh;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--main-fonts-color);
	overflow-x: hidden;
}

#publications p {
	font-family: var(--main-font-family);
	font-size: 15px;
	padding-top: 5px;
}

#education {
	text-align: center;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
	overflow-x: hidden;
}

#contact p {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
	overflow-x: hidden;
}

/*──────────────────
footer
──────────────────*/

/*──── hr ─────*/

hr {
	background: var(--main-decor-color);
	height: 3px;
	width: 200px;
	border-radius: 5px;
	border: hidden;
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-bottom: 10px;
}

/*──────────────────
Scrollbar
──────────────────*/
::-webkit-Scrollbar {
	width: 12px;
	background: rgba(5, 5, 5, 1);
}

::-webkit-Scrollbar-thumb {
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}

::-webkit-Scrollbar-track {
	margin-top: 0px;
	border-radius: 10px;
}

/*──────────────────
hamburger
──────────────────*/
.hamburger {
	display: none;
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translatex(50px);
	}

	to {
		opacity: 1;
		transform: translatex(0px);
	}
}


/* ──────────────────
media queries
────────────────── */

@media only screen and (max-height: 850px) {
	.divider{
		height: 90px;
		z-index: -100; 
	}
}

@media only screen and (max-width: 870px) {

	#home,
	#contact,
	#education,
	#workexp,
	#cv {
		overflow-x: hidden;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.setWidth {
		width: 90%;
	}

	.avatar {
		height: 200px;
	}

	.intro .subheading p {
		font-size: 17px;
	}

	.intro {
		width: 100%;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.just {
		width: 90%;
		display: inline-block;
		text-align: justify;
		font-size: 13px;
	}

	.intro p {
		text-align: center;
		font-size: 13px;
	}

	.social-media a i {
		position: inherit;
	}

	h3 {
		font-size: 30px;
		width: auto;
	}

	h2 {
		font-size: 18px;
		width: auto;
	}

	h1 {
		font-size: 13px;
		width: auto;
	}

	.work-img, .edu-img {
		width: 50px;
		position: absolute;
		top: 45px;
		left: 100%;
		transform: translate(-120%, -50%);
	}

	.listing .content-pill {
		padding-right: 50px;
	}


	header {
		background-color: var(--main-header-background);
	}

	.logo {
		position: absolute;
		top: 2px;
		left: 30px;
	}

	.nav-show {
		opacity: 1;
	}

	.nav-bar {
		position: fixed;
		top: 0px;
		right: 0;
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: var(--main-header-background);
		transform: translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}

	.hamburger {
		position: absolute;
		top: 15px;
		right: 1%;
		display: block;
		cursor: pointer;
		z-index: 5;
	}

	.nav-bar li {
		opacity: 0;
		padding-bottom: 12px;
	}
}

.nav-active {
	transform: translatex(0%);
}